*.idea/
*.iml
*.aux
*.lof
*.lot
*.fls
*.out  
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.bbl
*.bcf
*.blg
*.run.xml
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.xdv
*.pdf
*.ps
*.dvi
*.log
*.gz
*.swp
*.zip
*.rar
*.tar
*.tar.gz
*.rar
*.7z
*.jpg
*.jpeg
*.png
*.bmp
*.tif
*.tiff
*.gif
*.mp4
*.mp3
*.avi
*.mkv  
*.xml
*.iml